
ul, a, p, h1, h2, label, h3 {
    color:white;
    font-size: large;
    padding: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    margin-left: 0.5em;
}

li::marker {
    color:white;
    font-size: large;
    padding-left: 0.5em;
}

.vote {
    color: blue;
}

body { 
    background: url("polls/static/polls/images/background.gif");
    background-size: cover;
}
