ul, li, a, p, h1, h2, label, h3 {
    color:white;
    font-size: large;
    padding: 0.5em;
}

.vote {
    color: blue;
}
body {
    background: url("/static/polls/images/background.gif");
    background-size: cover;
}
